USE [j20032_herrfurth_test]
GO
-- When the ANSI_NULL database option is set to ON, then a comparison with NULL records yields UNKNOWN. Hence, no rows are returned. 
-- If you compare anything with NULL, it will result as UNKNOWN, and also the NULL = NULL comparison will be considered as UNKNOWN. 
-- You cannot compare NULL against anything. This is an ISO standard when dealing with NULL records.
SET ANSI_NULLS ON
GO
-- Causes SQL Server to follow the ISO rules regarding quotation mark delimiting identifiers and literal strings.
-- When SET QUOTED_IDENTIFIER is ON, identifiers can be delimited by double quotation marks, and literals must be delimited by single quotation marks. 
-- When SET QUOTED_IDENTIFIER is OFF, identifiers cannot be quoted and must follow all Transact-SQL rules for identifiers.
SET QUOTED_IDENTIFIER ON
GO
-- OPENQUERY is used to connect to another database.
-- Executes the specified pass-through query on the specified linked server. This server is an ORAD data source. 
-- NOTE: the OPENQUERY statement is character limited. 
--			The query in this statement is titled "Combined Yield", and the most recent commented revision can be found in the following location:
--			T:\A\AMEC\Quality Engineering\TABLEAU\QUERIES\ACTIVE
DROP table if exists AMEC_RWK_WCTR_QNs_test;
SELECT * into AMEC_RWK_WCTR_QNs_test
	FROM OPENQUERY(ORAD, '
-- creating temp table for OROP joined with WCTR
WITH RWK_tbl as
(
SELECT 
-- splitting out OROP_LINE1_DESC into QN number and QN item number to be able to join on
LPAD(SUBSTR(t.OROP_LINE1_DESC, 5, INSTR(t.OROP_LINE1_DESC, ''/'')-5), 12, ''0'') AS OROP_QNOT_NO, -- adding zero padding for matching TDWHQNOT/QNDF format
SUBSTR(t.OROP_LINE1_DESC, INSTR(t.OROP_LINE1_DESC, ''/'')+1,4) AS OROP_QNDF_NO,
SUBSTR(t.OROP_LINE1_DESC, INSTR(t.OROP_LINE1_DESC, ''/'')+6) AS OROP_RWK_DESC,
t.*,
w.*
  FROM TDWHOROP t
  Join TDWHWCTR w On wctr_no = orop_wctr_no
    WHERE 
      OROP_LINE1_DESC like ''*RW 501%''
      and OROP_ACT_COMPLETED_DTM >= TO_DATE(''2017-01-01'', ''YYYY-MM-DD'')
      and OROP_PLNT_ID = ''P001''
      and WCTR_CCTR_ID in (''MY'',''MW'',''TM'')
    ORDER BY OROP_ORDR_NO, OROP_ID
)

SELECT * 
  FROM RWK_tbl
    -- have to join in QNOT/QNDF after creating the following tables:
    --  QNOT - QN header information
    --  QNDF - QN defect summary
    --  QNCT - QN defect descriptions / details
    Left Join TDWHQNOT q on QNOT_NO = OROP_QNOT_NO
    Left Join TDWHQNDF d on QNDF_QNOT_NO = OROP_QNOT_NO and QNDF_NO = OROP_QNDF_NO
    Left Join TDWHQNCT n on QNCT_TIER2_CD = QNDF_TYPE_QNCT_TIER2_CD and QNCT_TIER3_CD = QNDF_TYPE_QNCT_TIER3_CD
   ')
	Left Outer Join OPENQUERY(MFGYLDANALYTICS_EMDD_APPS, '
		select 
			mgmtGrp.plnt_id mgmt_plnt_id,
			mgmtGrp.mgmt_overview_grp_nm,
			yield_target mgmt_yield_target,
			cell_nm mgmt_cell_nm,
			part_no mgmt_part_no,
			wctr_cd mgmt_wctr_cd,
			pele_cd mgmt_pele_cd,
			triple.cmnts mgmt_comments
    from pyramidmetrics.tmse_part_grouping@EMDD mgmtGrp
    join pyramidmetrics.tmse_part_group@EMDD triple on 
        mgmtGrp.mgmt_overview_grp_nm = triple.mgmt_overview_grp_nm
        and mgmtGrp.plnt_id = triple.plnt_id
    where is_active = 1
       ') On

       orop_plnt_id = mgmt_plnt_id
       and QNOT_PART_NO = mgmt_part_no
       --and iloe_pele_cd = mgmt_pele_cd
       and wctr_cd = mgmt_wctr_cd
       --and tripleinstance = 1
;